* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  font-family: 'PT Serif', serif;
    Cinzel Decorative
*/

html{
    font-family: 'PT Serif', serif;
    font-size: 1em;
    background-color: rgb(253, 255, 252);
}

a {
    color: rgb(253, 255, 252);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color:rgb(155, 171, 214)
}

